
.nav_Container {
    display: flex;
    justify-content: center;
}

a:link {
    margin-left: 15px;
    text-decoration: none;
}

a.active{
    color: darkviolet;
    text-decoration: underline;
  } 